.list {
  background: linear-gradient(rgb(90, 0, 90) 35%, rgba(0, 119, 54, 0.815));
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 4px;
}

.item {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 30px;
}

.contact {
  margin: 20px;
  text-align: center;
}

.contactName {
  color: rgb(1, 138, 192);
}

.contactNumber {
  color: rgb(91, 109, 9);
}

.btn {
  color: rgb(248, 25, 25);
  width: 70px;
  height: 50px;
}
